.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--first-accent-color);
}
.marked-kids {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--second-accent-color);
}
.kids-btn {
  background-color: var(--second-accent-color) !important;
}
.kids-btn:hover {
  background-color: var(--second-accent-color-hover) !important;
}
.extern-link {
  color: var(--background-color-dark);
  text-decoration: underline;
}
.extern-link:hover {
  color: var(--first-accent-color-hover);
  text-decoration: underline;
}

/* ==============
    Hero Section
   ============== */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../img//backgrounds/ce_credem_background.jpg") center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;
  width: 100%;

  text-align: center;
}
.hero h1 {
  font-size: var(--fs-h1);
  text-transform: uppercase;
}
.hero p {
  margin: 0.2em auto 1.5em auto;
  font-size: var(--fs-h4);
}

/* =======
    About
   ======= */
.about .text-headline .subtitle {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading-small);
}
.about .about-title .title {
  margin-bottom: 1em;
}
.about .about-p p {
  margin: 1.2em 0 1.2em;
}

/* ========
    Vision
   ======== */
.vision-title-container {
  margin-bottom: 2em !important;
}
.vision .text-headline .subtitle {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading-small);
}
.vision .vision-title .title {
  margin-bottom: 1em;
}
.vision .about-p p {
  margin: 1.2em 0 1.2em;
}

.vision .grid-item {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2em;
}
.vision-card {
  width: auto;
  height: auto;
  background-color: var(--white-text-color);
  position: relative;
  cursor: pointer;
}
.vision-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  padding: 1em;
}
.vision-card-content h2 {
  font-size: var(--fs-h4);
  margin: 0 0 0.5em;
  color: var(--background-color-dark);
}
.vision-card-content p {
  font-size: var(--fs-body);
  color: var(--background-color-dark);
}
.vision-card-content p:last-child {
  margin: 1em 0 0 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--first-accent-color);
  color: var(--white-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  padding: 1.2em;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: start;
}

.vision-card.active .overlay {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1025px) {
  .about .container-item-wrapper {
    gap: 0em;
  }
  .vision .grid-item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2em;
  }
  
}

@media (max-width: 600px) {
  .vision .grid-item {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .vision-card-content {
    text-align: start;
  }
  .vision-card-content h2 {
    font-size: var(--fs-h3);
  }
}
