.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--first-accent-color);
}
.extern-link {
  color: var(--background-color-dark);
  text-decoration: underline;
}
.extern-link:hover {
  color: var(--first-accent-color-hover);
  text-decoration: underline;
}

/* ==============
    Hero Section
   ============== */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../img//backgrounds/ce_credem_background.jpg") center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 70vh;
  width: 100%;

  text-align: center;
}
.hero h1 {
  font-size: var(--fs-h1);
  text-transform: uppercase;
}
.hero p {
  margin: 0.2em auto 1.5em auto;
  font-size: var(--fs-h4);
}

/* =======
    About
   ======= */
.about .text-headline .subtitle {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading-small);
}
.about .about-title .title {
  margin-bottom: 1em;
}
.about .about-p p {
  margin: 1.2em 0 1.2em;
  line-height: var(--lh-big-text);
}

/* ========
    Vision
   ======== */
.vision .vision-title {
  margin-bottom: 2em;
}
.vision .text-headline .subtitle {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading-small);
}
.vision .vision-title .title {
  margin-bottom: 1em;
}
.vision .about-p p {
  margin: 1.2em 0 1.2em;
}

.vision .grid-item {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2em;
}
.vision-card {
  width: auto;
  height: auto;
  background-color: var(--white-text-color);
  position: relative;
  cursor: pointer;

  border-left: 1em solid var(--first-accent-color);
}
.vision-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 1em;
}
.vision-card-content h2 {
  text-align: start;
  font-size: var(--fs-h4);
  margin: 0 0 0.5em 0.5em;
  font-weight: 500;
  color: var(--background-color-dark);
  line-height: var(--lh-heading-small);
}
.vision-card-content p {
  text-align: start;
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--background-color-dark);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--first-accent-color);
  color: var(--white-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 1.2em;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: start;
}
.vision-card.active .overlay {
  opacity: 1;
  pointer-events: auto;
}


/* =======
    Credo
   ======= */
   .credo .credo-title {
    margin-bottom: 2em;
   }
  .credo .text-headline .subtitle {
    font-size: var(--fs-h2);
    line-height: var(--lh-heading-small);
  }
  .credo .credo-title .title {
    margin-bottom: 1em;
  }
  .credo .about-p p {
    margin: 1.2em 0 1.2em;
  }

  .accordion {
    width: 100%;
    margin: auto;
  }
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 1.3em 1em;

    color: var(--first-accent-color);
    text-transform:  uppercase;
    font-size: var(--fs-h5);
    background: transparent;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background 0.3s, padding .3s;
  }
  .accordion-item:first-of-type {
    border-top: 2px solid var(--first-accent-color);
  }
  .accordion-item {
    border-bottom: 2px solid var(--first-accent-color);
  }
  .accordion-title:hover {
    background: rgba(113, 153, 193, .2);
    padding-left: 1.5em;
  }
  .accordion-content p {
    margin: 0 0 1.2em 0;
    line-height: var(--lh-big-text);
  }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: .2s ease;
  }
  
  .accordion-item.active .accordion-title {
    background: transparent;
    padding-left: .5em;
  }
  .arrow {
    display: inline-block;
    transition: transform 0.3s;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  /* Rotește săgeata când este activ */
  .accordion-item.active .arrow {
    transform: rotate(90deg); /* ▶ devine ▼ */
  }

@media (max-width: 1025px) {
  .about .container-item-wrapper {
    gap: 0em;
  }
  .vision .grid-item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2em;
  }
  .accordion {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .vision .grid-item {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .vision-card-content {
    text-align: start;
  }
  .vision-card-content h2 {
    font-size: var(--fs-h3);
  }
}
