.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--donation-color);
}

/* ==============
    Hero Section
   ============== */
.hero {
  background: linear-gradient(rgba(8, 20, 27, 0.8), rgba(8, 20, 27, 0.5)),
    url("../img//backgrounds/daruieste_background.jpg") center/cover no-repeat;
}
/* =============
    Why we give
   ============= */
.welcome .subtitle-big {
  margin-bottom: 0.4em;
  display: block;
}
.container-buttons-group p {
  line-height: var(--lh-heading-small);
  font-size: var(--fs-h3);
  font-weight: 700;
  margin-bottom: 0.5em;
}
.buttons-group {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 1em;
}

/* ===========
    Communion
   =========== */
.communion {
  background-color: var(--donation-color) !important;
}
.communion .title {
  color: var(--white-text-color);
}

/* ===========
    Neighbour
   =========== */
.neighbour .youtube-btn {
  background-color: transparent;
  border: 2px solid var(--first-accent-color);
  color: var(--first-accent-color);
}
.neighbour .youtube-btn:hover {
  border: 2px solid var(--first-accent-color-hover);
  color: var(--white-text-color);
}
.neighbour-grid-item {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
}
.neighbour .image-cell img {
  border: 5px solid var(--white-text-color);
}
.neighbour .neighbour-picture1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 1;
}
.neighbour .neighbour-picture2 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 6;
  z-index: 2;
}
.neighbour .neighbour-picture3 {
  grid-column-start: 7;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 10;
  z-index: 3;
}
.neighbour .neighbour-picture4 {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 11;
  z-index: 4;
}

/* ===========
    Oportunity
   =========== */
.oportunity .oportunity-title {
  font-size: var(--fs-h4);
  line-height: var(--lh-heading);
  margin-bottom: 1em;
}
.way-item {
  align-items: center !important;
  justify-content: center !important;
}
.way {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}
.way svg {
  fill: var(--donation-color);
  margin: 1.2em;
}
.way-text h3 {
  font-size: var(--fs-h4);
  text-align: center;
}
.way-text p {
  font-size: var(--fs-body);
  margin: 1.2em 0 1.2em;
  text-align: center;
}

@media (max-width: 1025px) {
  .oportunity .oportunity-title {
    text-align: left;
  }
  .way {
    max-width: 50%;
  }
  .way-text h3 {
    font-size: var(--fs-h3);
  }
}

@media (max-width: 600px) {
  .way {
    max-width: 100%;
  }
  .buttons-group {
    flex-direction: column;
    align-items: flex-start;
  }
}
