.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--first-accent-color);
}

/* ========
    Header
   ======== */

/* header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(8, 20, 27, 0.8), rgba(8, 20, 27, 0.5)),
    url("../img//backgrounds/index_background.jpg") center/cover no-repeat;
  position: relative;
} */

/* ==============
    Hero Section
   ============== */
.hero {
  background: linear-gradient(rgba(8, 20, 27, 0.8), rgba(8, 20, 27, 0.5)),
  url("../img//backgrounds/index_background.jpg") center/cover no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  color: var(--white-text-color);
  text-align: center;
}

/* =============
    Visit Times
   ============= */
.service-times .service-times-title {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading);
  margin-bottom: 0.5em;
}
.service-times .service-times-subtitle {
  font-size: var(--fs-h4);
  line-height: var(--lh-heading-small);
  margin-bottom: 0.3em;
}
.service-times-grid-item {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
.service-times .image-cell img {
  border: 5px solid var(--white-text-color);
}
.service-times .service-times-picture1 {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 6;
  z-index: 1;
}
.service-times .service-times-picture2 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 6;
  z-index: 2;
}
.service-times .service-times-picture3 {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 8;
  z-index: 3;
}

/* =========
    Welcome
   ========= */

/* =============
    Departments
   ============= */

.departments .departments-grid-item {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 2em;
}
.departments .departments-hopeyouth {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: auto;

  background: linear-gradient(rgba(8, 20, 27, 0.3)),
    url("../img/hopeyouth.jpeg") center/cover no-repeat;
  position: relative;

  min-height: 20em;
}
.departments .departments-kids {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: auto;

  background: linear-gradient(rgba(8, 20, 27, 0.3)),
    url("../img/kids.jpg") center/cover no-repeat;
  position: relative;

  min-height: 20em;
}
.departments .departments-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);

  color: var(--white-text-color);
  font-size: var(--fs-h2);

  transition: 0.3s;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(8, 20, 27, 1);
  opacity: 0;

  transition: opacity 0.3s;
  border-radius: 0.5em;
}
/* Hover effects */
.departments .departments-kids:hover .departments-title,
.departments .departments-kids:hover .overlay {
  color: var(--third-accent-color);
  opacity: 1;
}
.departments .departments-hopeyouth:hover .departments-title,
.departments .departments-hopeyouth:hover .overlay {
  color: var(--second-accent-color);
  opacity: 1;
}

/* ========
    Sermon
   ======== */
.sermon .buttons-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.sermon .youtube-btn {
  background-color: transparent;
  border: 2px solid var(--first-accent-color);
}
.sermon .youtube-btn:hover {
  border: 2px solid var(--first-accent-color-hover);
}

/* ===========
    Donations
   =========== */
.donation .donation-container {
  margin-bottom: 1em;
}
.donation .donation-title {
  font-size: var(--fs-h3);
  line-height: var(--lh-heading);
}
.donation .text-headline {
  font-size: var(--fs-h4);
  line-height: var(--lh-heading-small);
}
.donation .donation-container-button {
  align-items: center;
}
.donation .donation-container-button .text-content {
  z-index: 1;
}
.donation .donation-container-button a {
  text-align: center;
  width: 50%;
  z-index: 1;
}

@media (max-width: 1025px) {
  .service-times .service-times-title {
    text-align: left;
  }

  /* Departments grid in two rows */
  .departments .departments-grid-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 0em;
  }
  .departments .departments-hopeyouth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    min-height: 20em;
  }
  .departments .departments-kids {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    min-height: 20em;
  }

  .sermon .container-item-wrapper {
    flex-direction: column-reverse;
  }
  .donation .donation-title {
    text-align: left;
  }
  .donation .donation-container-button {
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .departments .departments-hopeyouth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

    min-height: 15em;
  }
  .departments .departments-kids {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    min-height: 15em;
  }
  .sermon .buttons-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .donation .donation-container-button a {
    width: 100%;
    text-align: center;
  }
  .donation .donation-container-button {
    align-items: center;
  }
}
