* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

/* =========================
    Font-Family-Declaration
   ========================= */

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/assets/fonts/Roboto-Regular.woff2') format('woff2'),
         url('/assets/fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/Roboto-Italic.woff2') format('woff2'),
         url('/assets/fonts/Roboto-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/fonts/Roboto-LightItalic.woff2') format('woff2'),
         url('/assets/fonts/Roboto-LightItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('/assets/fonts/Roboto-Light.woff2') format('woff2'),
         url('/assets/fonts/Roboto-Light.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/Roboto-BoldItalic.woff2') format('woff2'),
         url('/assets/fonts/Roboto-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('/assets/fonts/Roboto-Bold.woff2') format('woff2'),
         url('/assets/fonts/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('/assets/fonts/Roboto-Black.woff2') format('woff2'),
         url('/assets/fonts/Roboto-Black.woff') format('woff');
}





/* ==================
    Design-Variables
   ================== */

html {
    --backgroundColor:          #2D3232;
    --whiteTextColor:           #F9FFFF;
    --firstAccentColor:         #96D7FA;
    --secodnAccentColor:        #CD934D;

    /* Hover Colors */
    --backgroundColor-hover:    #393F3F;         /* slightly lighter */
    --whiteTextColor-hover:     #FFFFFF;         /* fully white */
    --firstAccentColor-hover:   #56BEF6;         /* darker blue hover */
    --secodnAccentColor-hover:  #B86F17;         /* darker golden brown */
}

body {
    height: 100vh;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
    transition: all .4s;
}
ul {
    list-style: none;
}
.btn {
    padding: 1em 2.5em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-family: 'Roboto';
    background-color: var(--firstAccentColor);
    text-transform: uppercase;
    

    transition: .2s;
}
.btn:hover {
    background-color: var(--firstAccentColor-hover);
}




/* ================
    Navigation-Bar
   ================ */
.header_main {
    width: 100vw;
    background-color: var(--backgroundColor);
}
.header_main .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    width: 100%;
    margin: 0 auto;
    padding: 0 1.875rem;
    min-height: 5rem;
    max-width: 75rem;
}
.header_logo a img {
    width: 7.5rem;
    height: auto;
}
.header_logo {
    flex: 0 0 12.5rem;
}
.header_nav {
    width: 100%;
}
.header_nav ul.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header_nav_wrapper ul.menu>li .btn-menu,
.header_nav_wrapper ul.menu>li>a {
    display: block;
    position: relative;
    padding: 0 2.3em 0 .920em;

    text-transform: uppercase;
    background-color: transparent;
    border: none;
    color: var(--whiteTextColor);
}
.header_nav_wrapper ul.menu>li:hover .btn-menu,
.header_nav_wrapper ul.menu>li:hover>a {
    color: var(--firstAccentColor-hover);
}
.header_nav_wrapper ul.menu>li .btn-menu,
.header_nav_wrapper ul.menu>li>a,
.menu-item-class {
    font-weight: 700;
    font-family: 'Roboto';
    font-size: .8125rem;
    line-height: 5.5em;
}

.header_donate {
    text-align: right;
    flex: 0 0 12.5rem;
    display: flex;
    justify-content: flex-end;
}
.header_donate a {
    display: block;
    text-transform: uppercase;
    position: relative;
    padding: 0 0 0 2.5em;

    color: var(--whiteTextColor);
}
.header_donate a:hover {
    color: rgb(255, 60, 60);
}
.header_donate a .svg {
    position: absolute;
    left: 0px;
    top: 47%;

    width: 2em;
    height: 2em;
    margin-top: -.76923em;
}
.header_donate a .svg svg {
    left: 0;
    width: 100%;
    height: auto;
    position: absolute;
    fill: currentColor;
}





/* ======
    Hero
   ====== */
.hero {
    background-image: url(/assets/img/church-cover.jpg);
    background-size: cover;
    background-position: bottom;
}
.hero-container {
    padding: 0 24.375em;
    height: calc(var(--vh, 1vh) * 100 - 80px);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--whiteTextColor);
}
.hero-title h2 {
    font-size: 5rem;
    text-align: center;

    margin-bottom: 0.3em;
}
.hero-title h3 {
    font-size: 1.5rem;
    font-weight: 300;
    width: 70%;
    text-align: center;
    margin-bottom: 5.5em;
}

.hero-btn {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--backgroundColor);
}


 