/* No scroll when Burger Menu is ON (JS) */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
/* URL ACTIVE (JS) */
.nav-links a.active {
  color: var(--first-accent-color);
}
.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--first-accent-color);
}

/* ========
    Header
   ======== */

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("../img/background_hero.jpg") bottom/cover no-repeat;
  position: relative;
}

/* ================
    Navigation Bar
   ================ */
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  z-index: 99;

  width: 100%;
  padding: 2em 5em;
  background: transparent;
  transition: background 0.2s, padding 0.2s 0.2s;
}
#navigationWrapper.scrolled {
  padding: 0.75em 5em;
  background-color: var(--background-color-dark);
}
.logo img {
  width: 15em;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links-list {
  display: flex;
  gap: 2em;

  text-transform: uppercase;
}
.nav-links-list li a {
  padding: 0.5em 0.5em;

  line-height: 2em;
  font-weight: bold;
  color: var(--white-text-color);

  transition: 0.2s;
}
.nav-links-list li:hover a {
  color: var(--first-accent-color);
}
.nav-links .icon-design {
  display: none;
}
.socials {
  display: none;
}

/* ==============
    Hero Section
   ============== */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;

  color: var(--white-text-color);
  text-align: center;
}
.hero h1 {
  font-size: var(--fs-h1);
  text-transform: uppercase;
}
.hero p {
  margin: 0.2em auto 1.5em auto;
  font-size: var(--fs-h4);
}

/* =============
    Visit Times
   ============= */
.service-times .service-times-title {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading);
  margin-bottom: 0.5em;
}
.service-times .service-times-subtitle {
  font-size: var(--fs-h4);
  line-height: var(--lh-heading-small);
}
.service-times .service-times-p {
  max-width: 100%;
}
.service-times-grid-item {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.service-times .image-cell img {
    border: 5px solid var(--white-text-color);
}
.service-times .service-times-picture1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
    z-index: 1;
}
.service-times .service-times-picture2{
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 6;
    z-index: 2;
}
.service-times .service-times-picture3{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 8;
    z-index: 3;
}

/* =========
    Welcome
   ========= */
.welcome .text-headline .subtitle {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading);
}
.welcome .welcome-title .title {
  margin-bottom: 1em;
}
.welcome .welcome-p p {
  margin: 1.2em 0 1.2em;
}

/* =============
    Departments
   ============= */

.departments .departments-grid-item {
  grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 2em;
}
.departments .departments-hopeyouth {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: auto;

  background: linear-gradient( rgba(0, 0, 0, 0.3)),
    url("../img/hopeyouth.jpeg") center/cover no-repeat;
  position: relative;

  min-height: 20em;
}
.departments .departments-kids {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: auto;

  background: linear-gradient(rgba(0, 0, 0, 0.3)),
    url("../img/kids.jpeg") center/cover no-repeat;
  position: relative;

  min-height: 20em;
}
.departments .departments-title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);

  color: var(--white-text-color);
  font-size: var(--fs-h2);

  transition: .3s;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0;

  transition: opacity .3s;
  border-radius: .5em;
}
/* Hover effects */
.departments .departments-kids:hover .departments-title,
.departments .departments-kids:hover .overlay {
  color: var(--second-accent-color);
  opacity: 1;
}
.departments .departments-hopeyouth:hover .departments-title,
.departments .departments-hopeyouth:hover .overlay {
  color: var(--third-accent-color);
  opacity: 1;
}


/* ========
    Sermon
   ======== */
.sermon .text-headline .subtitle {
    font-size: var(--fs-h2);
    line-height: var(--lh-heading);
}
.sermon .sermon-title .title {
    margin-bottom: 1em;
}
.sermon .sermon-p p {
    margin: 1.2em 0 1.2em;
}
.sermon .buttons-group {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.sermon .youtube-btn {
  background-color: transparent;
  border: 2px solid var(--first-accent-color);
}
.sermon .youtube-btn:hover {
  border: 2px solid var(--first-accent-color-hover);
}
.sermon .sermon-p .marked {
  font-weight: 700;
  font-size: var(--fs-h5);
}



@media (max-width: 1100px) {
  .navigation-wrapper {
    padding: 2em 2em;
    background-color: var(--background-color-dark);
  }
  #navigationWrapper.scrolled {
    padding: 0.8em 2em;
  }
  .logo img {
    width: 12em;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10%;

    padding: 7em 2em 2em 2em;

    background-color: var(--background-color-dark);
    position: fixed;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;

    transition: 0.3s;
  }
  .nav-links.active {
    opacity: 1;
    pointer-events: auto;
  }
  .nav-links-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
  }
  .nav-links-list li a {
    font-size: var(--fs-h2);
    padding: 0;
    flex-grow: 1;
  }
  

  /* Social Media Links/Icons in Burger Menu */
  .socials {
    display: block;
  }
  .socials-list img {
    width: 3em;
  }
  .socials-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2em;
  }


  .service-times .service-times-title {
   text-align: left;
  }
  .departments .departments-grid-item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 0em;
  }
  .departments .departments-hopeyouth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
    min-height: 20em;
  }
  .departments .departments-kids {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
    min-height: 20em;
  }
  .sermon .container-item-wrapper {
    flex-direction: column-reverse;
}
  
}

@media (max-width: 600px) {
  .departments .departments-hopeyouth {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
    min-height: 15em;
  }
  .departments .departments-kids {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
    min-height: 15em;
  }
  .sermon .buttons-group {
    flex-direction: column;
    align-items: flex-start;
  }
}
