

/* ==================
    Design-Variables
   ================== */


/* No scroll when Burger Menu is ON (JS) */
.no-scroll {
    overflow: hidden;
    height: 100vh;
}
/* URL ACTIVE (JS) */
.nav-links a.active {
    color: var(--first-accent-color);
}


/* List design */
li {
    list-style: none;;
}
a {
    text-decoration: none;
}



/* Hamburger Menu Stlye */
#nav-icon-hamburger {
    width: 42px;
    height: 31.5px;
    display: none;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}
#nav-icon-hamburger span {
    display: none;
    position: absolute;
    height: 6.3%;
    width: 100%;
    background: var(--white-text-color);
    border-radius: 6.3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon-hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon-hamburger span:nth-child(2) {
    top: 12.6px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon-hamburger span:nth-child(3) {
    top: 25.2px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
#nav-icon-hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    left: 5.6px;
}
#nav-icon-hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
#nav-icon-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 27.3px;
    left: 5.6px;
}

/* ========
    Header
   ======== */

header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../img/background_hero.jpg') bottom/cover no-repeat;
    position: relative;
}

/* ================
    Navigation Bar
   ================ */
.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    z-index: 99;

    width: 100%;
    padding: 2em 10em;
    background: transparent;
    transition: background .2s, padding .2s .2s;
}
#navigationWrapper.scrolled {
    padding: 0.75em 10em;
    background-color: var(--background-color-dark);
}
.logo img {
    width: 15em;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links-list {
    display: flex;
    gap: 2em;

    text-transform: uppercase;
}
.nav-links-list li a {
    padding: .5em .5em;
    
    line-height: 2em;
    font-weight: bold;
    color: var(--white-text-color);

    transition: .2s;
}
.nav-links-list li:hover a{
    color: var(--first-accent-color);
}
.nav-links .icon-design {
    display: none;
}
.socials {
    display: none;
}

/* ==============
    Hero Section
   ============== */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    color: var(--white-text-color);
    text-align: center;
    
}
.hero h1 {
    font-size: var(--fs-h1);
    text-transform: uppercase;
    
}
.hero p {
    margin: 0.2em auto 1.5em auto;
    font-size: var(--fs-h4);
    min-width: 70%;
}

/* ==================
    Visit Times
   ================== */
.service-times .container-item-wrapper.service {
    align-items: center;
}
.service-times .service-times-title {
    font-size: var(--fs-h2);
    line-height: var(--lh-heading);
    text-transform: uppercase;
    
}
.service-times .service-times-subtitle {
    font-size: clamp(1.2rem, 0.9273rem + 1.1636vw, 1.5rem);
    line-height: 1;
}
.service-times .service-times-p {
    margin-top: .3em;
    margin-bottom: 1em;
}
/* ==================
    Welcome
   ================== */

.welcome .container-item img {
    width: 100%;
    height: auto;
    border-radius: 0.5em
}
.welcome .text-headline .subtitle {
    font-size: var(--fs-h2);
    line-height: var(--lh-heading);
    font-weight: 700;
}
.welcome .welcome-title .title {
    margin-bottom: 1em;
}
.welcome .welcome-p {
    font-size: var(--fs-body);
    line-height: var(--lh-body);
}
.welcome .welcome-p p {
    margin: 1.2em 0 1.2em;
}





/* ==================
    About-Us Section
   ================== */
.about-us {
    text-align: center;
}
.about-us h2 {
    margin-bottom: .8em;
    opacity: .7;

    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
    color: var(--background-color);
    text-transform: uppercase;
}
.about-us h1 {
    max-width: 27em;
    margin: 0 auto 2.5em;

    font-size: clamp(1.2rem, 0.8364rem + 1.5515vw, 2rem);
    color: var(--accent-color-hover);
    font-weight: 400;
}
.pillars-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2em;
}
.pillars-item {
    padding: 0 1.875em 1.875em;
}
.pillars-item-icon img {
    max-width: 200px;
}
.pillars-item-text h3 {
    color: var(--background-color);
    text-transform: uppercase;
    margin-bottom: .5em;
    font-weight: 900;
    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
}
.pillars-item-text p {
    color: var(--background-color);
    opacity: .9;
    font-weight: 400;
    font-size: clamp(1rem, 0.9091rem + 0.3879vw, 1.2rem);
}
.pillars-more a {
    font-weight: 700;
    font-size: clamp(1rem, 0.9091rem + 0.3879vw, 1.2rem);
    color: var(--accent-color);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    transition: .2s;
}
.pillars-more a::before {
    content: '>';
    position: absolute;
    left: -.2em;
    transform: translateX(-200%);

    transition: .2s;
}
.pillars-more a:hover::before,
.pillars-more a:hover {
    color: var(--accent-color-hover);
    transform: translateX(-100%);
}


/* ===============
    Latest Sermon
   =============== */
.latest-sermon {
    background-color: var(--background-color);
    position: relative;
    overflow-x: hidden;

    text-align: center;
}
.latest-sermon h2 {
    margin-bottom: .8em;
    opacity: .7;

    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
    color: var(--white-text-color);
    text-transform: uppercase;
}
.latest-sermon h1 {
    max-width: 27em;
    margin: 0 auto 1.2em;

    font-size: clamp(2rem, 1.5455rem + 1.9394vw, 3rem);
    color: var(--accent-color);
    font-weight: 900;
    font-style: italic;
}
.latest-seromon-more a {
    font-weight: 700;
    font-size: clamp(1rem, 0.9091rem + 0.3879vw, 1.2rem);
    color: var(--accent-color);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    transition: .2s;
}
.latest-seromon-more a::before {
    content: '>';
    position: absolute;
    left: -.2em;
    transform: translateX(-200%);

    transition: .2s;
}
.latest-seromon-more a:hover::before,
.latest-seromon-more a:hover {
    color: var(--accent-color-hover);
    transform: translateX(-100%);
}
.latest-sermon-content {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 3em;
  }
  
  .iframe-holder {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
      
  }
  
  .iframe-holder iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }


@media (max-width: 1100px) {
/* SHOW THE HAMBURGER MENU */
    #nav-icon-hamburger {
       display: block;
    }
    #nav-icon-hamburger span {
        display: block;
    }
/* ====================== */
    .navigation-wrapper {
        padding: 2em 2em;
        background-color: var(--background-color-dark);
    }
    #navigationWrapper.scrolled {
        padding: 0.8em 2em;
    }
    .logo img {
        width: 12em;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10%;

        padding: 7em 2em 2em 2em;

        background-color: var(--background-color-dark);
        position: fixed;
        min-height: 100%;
        max-height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;

        transition: .3s;
    }
    .nav-links.active {
        opacity: 1;
        pointer-events: auto;
    }
    .nav-links-list {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
    }
    .nav-links-list li a {
        font-size: clamp(2rem, 1.7727rem + 0.9697vw, 2.5rem);
        padding: 0;
        flex-grow: 1;
    }
    .pillars-list {
        grid-template-columns: repeat(2, 1fr);
    }

/* Social Media Links/Icons in Burger Menu */
    .socials {
        display: block;
    }
    .socials-list img {
        width: 3em;
    }
    .socials-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 2em;
    }
    .container-item-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .pillars-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media (max-width: 1199px) {
    .container-item {
        flex-basis: calc(40.60% - clamp(0px, 40px, 9999px));
    }
  }
  @media (max-width: 978px) {
    .container-item {
        flex-basis: calc(100% - clamp(0px, 40px, 9999px));
    }
  }

