* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

/* =========================
    Font-Family-Declaration
   ========================= */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fontss/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* ==================
    Design-Variables
   ================== */

html {
    --background-color:         hsl(220, 3%, 21%);
    --white-text-color:         #fefcfb;
    --accent-color:             hsl(194, 98%, 66%);

    /* Hover Colors */
    --background-color-hover:   hsl(180, 5%, 31%);         /* slightly lighter */
    --whiteTextColor-hover:     hsl(0, 0%, 100%);         /* fully white */
    --accent-color-hover:       hsl(194, 98%, 45%);        /* darker blue hover */
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
  }

li {
    list-style: none;;
}
a {
    text-decoration: none;
}
    /* URL ACTIVE */
.nav-links a.active {
    color: var(--accent-color);
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 1.875rem;
}
.btn {
  background-color: var(--accent-color);
  border: none;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: var(--white-text-color);
  cursor: pointer;
  text-transform: uppercase;
  
  font-weight: 700;
  justify-content: center;
  line-height: 1.25;

  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  
  transition: 250ms;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color-hover);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.btn:hover {
  transform: translateY(-1px);
}
.btn:active {
  background-color: var(--accent-color-hover);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* Hamburger Menu Stlye */

#nav-icon-hamburger {
    width: 42px;
    height: 31.5px;
    display: none;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor: pointer;
}

#nav-icon-hamburger span {
    display: none;
    position: absolute;
    height: 6.3%;
    width: 100%;
    background: var(--white-text-color);
    border-radius: 6.3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

#nav-icon-hamburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon-hamburger span:nth-child(2) {
  top: 12.6px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon-hamburger span:nth-child(3) {
  top: 25.2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon-hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -2px;
  left: 5.6px;
}

#nav-icon-hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 27.3px;
  left: 5.6px;
}

/* ========
    Header
   ======== */

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url('../img/background_hero.jpg') bottom/cover no-repeat;
  position: relative;
}

/* ================
    Navigation Bar
   ================ */
.navigation-wrapper {
    background: transparent;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 2em 10em;

    transition: background .2s, padding .2s .2s;
}
#navigationWrapper.scrolled {
    background-color: var(--background-color);
    padding: 0.75em 10em;
}
.logo img {
    width: 15em;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links-list {
    display: flex;
    gap: 2em;
    text-transform: uppercase;
}
.nav-links-list li a {
    color: var(--white-text-color);
    font-weight: bold;

    padding: .5em .5em;
    line-height: 2em;

    transition: .2s;
}
.nav-links-list li:hover a{
    color: var(--accent-color);
}
.nav-links .icon-design {
   display: none;
}
.socials {
    display: none;
}

/* ==============
    Hero Section
   ============== */
.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 105vh;
    width: 100%;
    color: var(--white-text-color);
    text-align: center;
}
.hero-box h1 {
    font-size: clamp(2rem, 0.4091rem + 6.7879vw, 5.5rem);
}
.hero-box p {
    margin: .625em 0 2.5em;
    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
    max-width: 29em;
}
.hero-btn {
    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
}

/* ==================
    About-Us Section
   ================== */
.about-us {
    padding: 6.25em 0;
    text-align: center;
}
.about-us h2 {
    color: var(--background-color);
    opacity: .7;
    margin-bottom: .8em;
    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
    text-transform: uppercase;
}
.about-us h1 {
    color: var(--accent-color-hover);
    max-width: 27em;
    margin: 0 auto 2.5em;
    font-size: clamp(1.2rem, 0.8364rem + 1.5515vw, 2rem);
    font-weight: 400;
}
.pillars-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2em;
}
.pillars-item {
    padding: 0 1.875em 1.875em;
}
.pillars-item-icon img {
    max-width: 200px;
}
.pillars-item-text h3 {
    color: var(--background-color);
    text-transform: uppercase;
    margin-bottom: .5em;
    font-weight: 900;
    font-size: clamp(1rem, 0.7727rem + 0.9697vw, 1.5rem);
}
.pillars-item-text p {
    color: var(--background-color);
    opacity: .9;
    font-weight: 400;
    font-size: clamp(1rem, 0.9091rem + 0.3879vw, 1.2rem);
}
.pillars-more a {
    font-weight: 700;
    font-size: clamp(1rem, 0.9091rem + 0.3879vw, 1.2rem);
    padding: .5em .5em;
    color: var(--accent-color);
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    transition: .2s;
}
.pillars-more a::before {
    content: '>';
    margin-right: .5em;
    position: absolute;
    left: -.2em;
    transform: translateX(-100%);
    transition: .2s;

}
.pillars-more a:hover::before,
.pillars-more a:hover {
    color: var(--accent-color-hover);
    transform: translateX(0%);
}






@media (max-width: 1100px) {
/* SHOW THE HAMBURGER MENU */
    #nav-icon-hamburger {
       display: block;
    }
    #nav-icon-hamburger span {
        display: block;
    }
/* ====================== */
    .navigation-wrapper {
        padding: 2em 2em;
        background-color: var(--background-color);
    }
    #navigationWrapper.scrolled {
        padding: 1em 2em;
    }
    .logo img {
        width: 12em;
    }
    /* .nav-links .icon-design {
        display: block;
        position: absolute;
        top: -2em;
        left: 10em;
        width: 70em;
        pointer-events: none;
        height: auto;
        opacity: .05;
    } */
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10%;

        padding: 7em 2em 2em 2em;

        background-color: var(--background-color);
        position: fixed;
        height: 100vh;
        height: 100svh;
        width: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;

        transition: .3s;
    }
    .nav-links.active {
        opacity: 1;
        pointer-events: auto;
    }
    /* .navigation-wrapper.active {
        padding: 2em 3.5em !important;
        transition: 0.1s;
    } */
    .nav-links-list {
        display: flex;
        flex-direction: column;
        gap: .5em;
        width: 100%;
    }
    .nav-links-list li a {
        font-size: clamp(2rem, 1.7727rem + 0.9697vw, 2.5rem);
        padding: 0;
        flex-grow: 1;
    }
    .pillars-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .socials {
        display: block;
    }
    .socials-list img {
        width: 4em;
    }
    .socials-list {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 2em;
    }
}

@media (max-width: 600px) {
    .pillars-list {
      grid-template-columns: repeat(1, 1fr);
    }
    .nav-links .icon-design {
        top: 5em;
        left: -4em;
        width: 50em;
    }
  }
