.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--first-accent-color);
}
.marked-kids {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: var(--third-accent-color);
}
.kids-btn {
  background-color: var(--third-accent-color) !important;
}
.kids-btn:hover {
  background-color: var(--third-accent-color-hover) !important;
}

/* ==============
    Hero Section
   ============== */
.hero {
  background: linear-gradient(rgba(8, 20, 27, 0.8), rgba(8, 20, 27, 0.5)),
    url("../img//backgrounds/sunt_nou_background.webp") center/cover no-repeat;
}
/* ====================
    Welcome First Time
   ==================== */
.first-time .first-time-title {
  font-size: var(--fs-h2);
  line-height: var(--lh-heading);
  margin-bottom: 0.5em;
}
.first-time .first-time-subtitle h2 {
  font-size: var(--fs-h3);
  line-height: var(--lh-heading-small);
  font-weight: 500;
}

/* ===========
    Questions
   =========== */
.question:nth-of-type(odd) .container-item-wrapper {
  flex-direction: row-reverse;
}
.question {
  padding-top: 0 !important;
}

/* =============
    Visit Times
   ============= */
.service-times .service-times-subtitle {
  font-size: var(--fs-h4);
  line-height: var(--lh-heading-small);
}
.container-buttons-group {
  align-items: center !important;
}
.buttons-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

/* =====
    Map
   ===== */

.map-container {
  position: relative;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1025px) {
  .first-time .first-time-title {
    text-align: left;
  }
  .first-time .first-time-subtitle h2 {
    text-align: left;
    font-size: var(--fs-h4);
  }
  .question .container-item-wrapper:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .service-times .service-times-title {
    text-align: left;
  }
  .container-buttons-group {
    align-items: flex-start !important;
  }
  .buttons-group {
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .question .container-item-wrapper {
    gap: 0.5em;
  }
  .buttons-group {
    flex-direction: column;
  }
}
